{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>User's Detail</h1>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Username
            </div>
            <div class="col">
                Bello
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                First name
            </div>
            <div class="col">
                Bello
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Last name
            </div>
            <div class="col">
                Bello
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Email address
            </div>
            <div class="col">
                Bello
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Status
            </div>
            <div class="col">
                Active
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Staff status
            </div>
            <div class="col">
                true
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Superuser status
            </div>
            <div class="col">
                true
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Date joined
            </div>
            <div class="col">
                2020-01-01
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-3">
                Last login
            </div>
            <div class="col">
                2020-01-01
            </div>
        </div>
        <hr>
    <h4>Action</h4>
    <a href="#" class="btn btn-danger">Deactivate</a>
    <a href="#" class="btn btn-success">Activate</a>
    </div>
{% endblock %}