<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Savest Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home {% if request.path == '/' %}
        <span class="sr-only">(current)</span>
        {% endif %}</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin {% if request.path == '/admin/' %}
        <span class="sr-only">(current)</span>
        {% endif %}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/send-email/">Send General Email {% if request.path == '/send-email/' %}
        <span class="sr-only">(current)</span>
        {% endif %}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
    {% if request.user.is_authenticated %}<div class="nav-item ml-2 text-white">{{ request.user.username }}</div>
    <a href="/logout/" class="btn btn-default text-white">Logout</a>
    {% else %}
    <a href="/login/" class="btn btn-default text-white">Login</a>
    {% endif %}
</nav>
